
nav {
  font: inherit;
  height: 50px;
  width: 100%;
  background-color: #ffd54f;
  display: block;
  position: relative;
  z-index: 1;
}

nav.current-section {
  background-color: #ffffff;
  box-shadow: 0 10px 14px -10px rgb(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

nav > .nav-header {
  display: inline;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #33475b;
  font-weight: 600;
  padding: 13px 10px 13px 10px;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  height: 50px;
}

nav > .nav-links > a {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  color: #33475b;
  height: 50px;
}

nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  nav > .nav-btn > label:hover,nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 0px solid #33475b;
  }
  nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  nav > .nav-links > a {
    display: block;
    width: 100%;
  }
}



